In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./data.csv')
df.head()

,id,o-4,o-3,o-2,o-1,o0,o1,o2,o3,o4,target
0,1,1.074334,-1.069606,-1.986196,0.099544,0.380702,-0.980759,-1.426359,0.266631,-0.720343,1
1,2,-1.069606,-1.986196,0.099544,0.380702,-0.980759,-1.426359,0.266631,-0.720343,0.291796,0
2,3,-1.986196,0.099544,0.380702,-0.980759,-1.426359,0.266631,-0.720343,0.291796,0.434752,0
3,4,0.099544,0.380702,-0.980759,-1.426359,0.266631,-0.720343,0.291796,0.434752,-0.363020,1
4,5,0.380702,-0.980759,-1.426359,0.266631,-0.720343,0.291796,0.434752,-0.363020,-0.008887,0

In [6]:
df.target.describe()

count    992000.000000
mean          0.499127
std           0.499999
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           1.000000
Name: target, dtype: float64